body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 14px;
}

.container-fluid {
    /* avoid an excessively wide status text */
    /*        white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;*/
    width: 400px;
    max-height: 400px;
}

.templates {
    display: none;
}

.tavern-block {
    border: 1px solid #999;
    border-top: o none;
    padding-bottom: 5px;
}

.user-block {
    padding-top: 5px;
}

.tavern-head {
    padding: 0 10px;
    border-bottom: 1px solid #eee;
}

.tavern-logo img,
.user-avatar img {
    /*width: 40px;*/
    height: 40px;
}

.tavern-title {
    line-height: 40px;
}